## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [5]:
result=5 + 4 * 9 % (3 + 1) / 6 - 1
print(result)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [6]:
i=0
num=int(input('Enter your number'))
if  num %2 != 0:
    print('This is odd number')
else:
    print('This is even number')

Enter your number6
This is even number

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [7]:
num=int(input('Enter your number'))
 
for i in range(1,11):
      print(f'{num} * {i} = {num * i }')

Enter your number9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [7]:
i=1
for i in range(2000,3200):
    if i % 7 ==0 and i % 5 !=0:
        print(i,end=',')
        
print('\b.')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,.

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [8]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]  


int_count = 0
str_count = 0 
bool_count =0 
float_count = 0
NoneType_count = 0 


for i in list1:
    if type(i) == int :
        int_count = int_count + 1 
    elif type(i) == str :
        str_count = str_count + 1 
    elif type(i) == bool :
        bool_count = bool_count + 1 
    elif type(i) == float :
        float_count = float_count + 1 
    elif i == None:
        NoneType_count = NoneType_count + 1 
        

print('Count of Int is:',int_count)
print('Count of Str is: ',str_count)
print('Count of Bool is: ',bool_count)
print('Count of Float is: ',float_count)
print('Count of NoneType is: ',NoneType_count)

Count of Int is: 5
Count of Str is:  4
Count of Bool is:  1
Count of Float is:  1
Count of NoneType is:  1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [9]:
list2 =[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [12]:
li = [2,3,'Py','10',1,'SQL',5.5,True,3,'John',None,7]
'_'.join(filter(lambda x: type(x)==str,li))

'Py_10_SQL_John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [13]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

def my_func(l):
    dict1 = {}
     
    dict1['sum of all numbers (exclude bool)'] = sum([float(i) for i in l if type(i)== int or type(i)== float])
    dict1['count of all str'] = len([str(i) for i in l if type(i)== str])
    return dict1

my_func(list1)

{'sum of all numbers (exclude bool)': 21.5, 'count of all str': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [21]:
li= [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
new_list = []

for i in li:
    if i % 2 != 0 :
        new_list.append(i)
        
new_list

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [14]:
def myfunc(*numbers):
    
    output_dict = {
        'sum':sum(numbers),
        'count':len(numbers),
        'min':min(numbers),
        'max':max(numbers),
        'Mean': sum(numbers) / len(numbers)     
    }
    
    return output_dict 

myfunc(4521,1,2,1,2,3,8,4,24,5)

{'sum': 4571, 'count': 10, 'min': 1, 'max': 4521, 'Mean': 457.1}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [26]:
def calculate_area(shape,**dimensions):
    
    """
    
    This is a function to calculate the area
    shapes supported are : square,rectangle,triangle, circle
    
    If shape = squre, then a kwarg with side needs to be given
    
    
    
    
    """
    area = 0
    
    if shape == 'square':
        
        area = dimensions['side'] ** 2 
    
    elif shape == 'rectangle':
        area = dimensions['length'] * dimensions['breadth']
        
    elif shape == 'circle':
        area = (22/7) * dimensions['radius']**2 
        
    
    elif shape == 'triangle':
        area = (1/2) * dimensions['base'] * dimensions['height']
        
    
    else:
        return 'INVALID INPUT'
    
    
    return area 


calculate_area('triangle',height =10 ,base  =20 )

100.0

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [38]:

def myfunc(l1,l2):
    
    output_dict = {
        'Matched': set(l1).intersection(set(l2)),
        'Only in l1':set(l1).difference(set(l2)),
        'Only in l2':set(l2).difference(set(l1)),
    }
    
    return output_dict
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

myfunc(l1,l2 )

{'Matched': {'December', 'February', 'January', 'June'},
 'Only in l1': {'March', 'May', 'September'},
 'Only in l2': {'April', 'October'}}

Q13: write a UDF to check if a number is prime or not.

In [39]:
number = 13 

is_prime = True


for i in range(2,number):
    if number % i == 0 :
        is_prime = False
        

is_prime

True

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [41]:
n = int(input('Enter the value of n: '))
sqr_dict ={}


for i in range(1,n+1):
    sqr_dict[i] = i**2 
    
sqr_dict

Enter the value of n: 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [4]:
number = int(input("Type a number: "))

numberDict = {}
for i in range(1, number+1):
    numberDict[i] = i*i

print(numberDict)

Type a number: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [42]:
numbers = input('Enter the numbers in a comma seperated manner: ')
output_list = numbers.split(',')

output_tuple = tuple(output_list)

print(output_list,output_tuple,sep='\n')

Enter the numbers in a comma seperated manner: 2,5,3,4,6,8
['2', '5', '3', '4', '6', '8']
('2', '5', '3', '4', '6', '8')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [43]:
words = input('Enter the words in a comma seperated manner: ').split(',')

words.sort()

words

Enter the words in a comma seperated manner: srush,swati,siddhi

['siddhi', 'srush', 'swati']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [44]:
words = input('Enter the words in a Space seperated manner: ').split(' ')

words = list(set(words)) 


words.sort()

words

Enter the words in a Space seperated manner: data science require statistics

['data', 'require', 'science', 'statistics']

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [3]:
sentence = input('Enter the sentence: ')
upper_case_count = 0
lower_case_count = 0 


for i in sentence:
    if i.isupper():
        upper_case_count += 1
    elif i.islower():
        lower_case_count += 1 
        
print(upper_case_count)
print(lower_case_count)

Enter the sentence: we are learning python
0
19

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [1]:
input_by_user = "abcd123"

input_by_user[::-1]

'321dcba'